/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, em, img, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, legend, label, input, textarea, select, button, table, caption, thead, tbody, tfoot, tr, th, td { border: none; font-size: 100%; margin: 0; outline: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, audio, canvas, video { display: block; }
h1, h2, h3, h4, h5, h6 { line-height: normal; font-weight: normal; }
address, cite, code, em, strong { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
input, textarea, select, button { display: block; resize: none; }
html { height: 100%; }

/* clearfixes */
.clear:after,
ul:after { clear: both; content: ""; display: block; height: 0; visibility: hidden; }

* { box-sizing: border-box; }

#test5 {
  margin: 0.6em 0;
}

/* Globals */
html {
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}


/* styles */
.wrapper {
	margin: 1.5625em auto;
	max-width: 1024px;
	position: relative;
	width: 93.75%;
  margin-bottom: 0em;
  margin-top: 0em;
}

/* Put your solution BELOW
===========================*/

/* Non-Essential For This Challenge, Snazzy Stylins' */
@-webkit-keyframes fadeTop { from { opacity: 0; filter: alpha(opacity=0); top: -1em; } to { opacity: 1; filter: alpha(opacity=100); top: 0em; } }
@keyframes fadeTop { from { opacity: 0; filter: alpha(opacity=0); top: -1em; } to { opacity: 1; filter: alpha(opacity=100); top: 0em; } }
@-webkit-keyframes fadeTop2 { from { opacity: 0; filter: alpha(opacity=0); top: -1em; } to { opacity: 1; filter: alpha(opacity=100); top: 0em; } }
@keyframes fadeTop2 { from { opacity: 0; filter: alpha(opacity=0); top: -1em; } to { opacity: 1; filter: alpha(opacity=100); top: 0em; } }

h2.version--title {
  position: relative;
  display: inline-block;
  margin-top: 1em;
  font-family: 'Arvo', serif;
  font-size: 2em;
  color: #003F7F;
  text-transform: uppercase;
}

h2.version--title {
  opacity: 0;
  filter: alpha(opacity=0);
  top: -1em;
  -webkit-animation-name: fadeTop;
          animation-name: fadeTop;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

h6.version--caption {
  position: relative;
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.85em;
  color: #198AFF;
  text-transform: capitalize;
  border-top: 1px solid rgba(63, 63, 63, 0.45);
  line-height: 1.5;
  font-style: italic;
}

h6.version--caption {
  opacity: 0;
  filter: alpha(opacity=0);
  top: -1em;
  -webkit-animation-name: fadeTop2;
          animation-name: fadeTop2;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

img:not([src]) {
    visibility: hidden;
}

@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden;
    }
}

/* VERSION FIVE */
#test5 ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#test5 li {
    position: relative;
    border: 1px solid red;
}

#test5 li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid white;
}

#test5 img {
    display: block;
    width: 100%;
}

@-webkit-keyframes fadeIn { from { opacity:0; filter: alpha(opacity=0); opacity: 1\9; filter: alpha(opacity=NaN); } to { opacity:1; filter: alpha(opacity=100); } }

@keyframes fadeIn { from { opacity:0; filter: alpha(opacity=0); opacity: 1\9; filter: alpha(opacity=NaN); } to { opacity:1; filter: alpha(opacity=100); } }
@-webkit-keyframes psuedoFadeIn { from { opacity:0; filter: alpha(opacity=0); opacity: 1\9; filter: alpha(opacity=NaN); } to { opacity:1; filter: alpha(opacity=100); } }
@keyframes psuedoFadeIn { from { opacity:0; filter: alpha(opacity=0); opacity: 1\9; filter: alpha(opacity=NaN); } to { opacity:1; filter: alpha(opacity=100); } }
@-webkit-keyframes psuedoGrow { from { width: 0; height: 0; } to { width: 80%; height: 80%; } }
@keyframes psuedoGrow { from { width: 0; height: 0; } to { width: 80%; height: 80%; } }

#test5 img.loading, #test5 li {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation:fadeIn ease-in 1;
          animation:fadeIn ease-in 1;
  -webkit-animation-fill-mode:forwards;
          animation-fill-mode:forwards;
  -webkit-animation-duration: 325ms;
          animation-duration: 325ms;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

#test5 li:before {
  opacity: 0;
  filter: alpha(opacity=0);
  width: 0%;
  height: 0%;
  -webkit-animation: psuedoGrow ease 1, psuedoFadeIn ease-in-out 1;
          animation: psuedoGrow ease 1, psuedoFadeIn ease-in-out 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1150ms;
          animation-duration: 1150ms;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}


@-webkit-keyframes infoIn { from { opacity:0; filter: alpha(opacity=0); opacity: 1\9; filter: alpha(opacity=NaN); } to { opacity:1; filter: alpha(opacity=100); } }


@keyframes infoIn { from { opacity:0; filter: alpha(opacity=0); opacity: 1\9; filter: alpha(opacity=NaN); } to { opacity:1; filter: alpha(opacity=100); } }
@-webkit-keyframes infoTop { from { top: -1.5em; } to { top: 0em; } }
@keyframes infoTop { from { top: -1.5em; } to { top: 0em; } }
@-webkit-keyframes infoTop2 { from { top: -1.5em; opacity: 0; filter: alpha(opacity=0); } to { top: 0em; opacity: 1; filter: alpha(opacity=100); } }
@keyframes infoTop2 { from { top: -1.5em; opacity: 0; filter: alpha(opacity=0); } to { top: 0em; opacity: 1; filter: alpha(opacity=100); } }
@-webkit-keyframes infoTop3 { from { top: -1.5em; opacity: 0; filter: alpha(opacity=0); } to { top: 0em; opacity: 1; filter: alpha(opacity=100); } }
@keyframes infoTop3 { from { top: -1.5em; opacity: 0; filter: alpha(opacity=0); } to { top: 0em; opacity: 1; filter: alpha(opacity=100); } }

.info--wrapper {
  position: absolute;
  text-align: center;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  overflow: scroll;
  left: 0;
  right: 0;
}

.info--wrapper {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation-name: infoIn;
          animation-name: infoIn;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1275ms;
          animation-delay: 1275ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

h1.info--title {
    position: relative;
    font-family: Arvo, sans-serif;
    font-size: 2.5em;
    color: #003f7f;
    display: inline-block;
    border-bottom: 2px solid #003f7f;
}

h1.info--title {
  top: -1.5em;
  -webkit-animation-name: infoTop;
          animation-name: infoTop;
  -webkit-animation-duration: 200ms;
          animation-duration: 200ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

h5.info--caption {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.183em;
  color: #111111;
  position: relative;
  margin-top: 0.25em;
  margin-bottom: 0.75em;
}

h5.info--caption {
  top: -1.5em;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation-name: infoTop2;
          animation-name: infoTop2;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1420ms;
          animation-delay: 1420ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.info--wrapper li {
  position: relative;
  text-align: left;
  font-family: PT Sans, sans-serif;
  font-size: 0.955em;
  margin-top: 0.7em;
  margin-bottom: 0.75em;
  color: #198AFF;
}

.info--wrapper li {
  top: -1.5em;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-animation-name: infoTop3;
          animation-name: infoTop3;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.fa-li {
    left: -2.5em;
    width: 2.5em;
    top: 0em;
    font-size: 1.25em;
}

.info--wrapper li:nth-child(1) {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
}

.info--wrapper li:nth-child(2) {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.info--wrapper li:nth-child(3) {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
}

.info--wrapper li:nth-child(4) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.info--wrapper li:nth-child(5) {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}

.info--wrapper li:nth-child(6) {
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
}

.info--wrapper li:nth-child(7) {
  -webkit-animation-delay: 2300ms;
          animation-delay: 2300ms;
}

.info--wrapper li:nth-child(8) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}

.info--wrapper li:nth-child(9) {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

footer {
  background: #003f7f;
  width: 100%;
  bottom: 0em;
  position: absolute;
}

.creator {
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 2.75em;
}

.creator h6 {
  font-family: Arvo, sans-serif;
  font-size: 0.95em;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  margin-top: 0.85em;
}

.fa.fa-heart {
  font-size: 1.55em;
  margin-left: 0.15em;
  margin-right: 0.15em;
  color: #198AFF;
  position: relative;
  top: 0.1em;
}

footer a {
    color: #198AFF;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    cursor: pointer;
}


/* Media Queries, Cuz Why Not? */


@media only screen
  and (min-width: 320px)
  and (max-width: 500px) {
 h2.version--title { font-size: 1.75em; text-align: center; display: block; }
 h6.version--caption { font-size: 0.75em; text-align: center; }
 h1.info--title { font-size: 2.15em; }
 h5.info--caption { font-size: 0.94em; margin-top: 0.5em; }
 .info--wrapper li { font-size: 0.82em; text-align: center; margin-top: 0.85em; margin-bottom: 0.85em; }
 .info--wrapper { margin-top: 1.75em; width: 95%; margin-left: auto; margin-right: auto; }
 .fa-ul { margin-left: 1.8em; }
 .fa-li { left: -2.2em; width: 2.5em; top: 0.1em; font-size: 1.25em; }
 .creator h6 { font-size: 0.7em; margin-top: 1.5em; } }


@media only screen
 and (min-width: 320px) {
 #test5 img.loading { width: 18.3vw; }
 .info--wrapper { padding-top: 0em; height: 68vh; } }


@media only screen
 and (min-width: 501px) {
 .info--wrapper { height: 65vh; } }


@media only screen
 and (min-width: 660px) {
 #test5 img.loading { width: 18.5vw; } }


@media only screen
 and (min-width: 760px) {
 .info--wrapper { height: auto; } }


@media only screen
  and (min-width: 800px) {
 #test5 img { height: auto; min-height: 150px; } }


@media only screen
  and (min-width: 1080px) {
 #test5 img { height: auto; min-height: 203px; }
 #test5 img.loading { width: 20vw; max-width: 202.5px; } }
